body {
  margin:0px;
  background-color:rgba(250, 250, 250, 1);
  background-image:none;
  position:relative;
  left:-0px;
  width:1916px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u45071_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1869px;
  height:944px;
}
#u45071 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1869px;
  height:944px;
}
#u45072 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:464px;
  width:1865px;
  visibility:hidden;
  word-wrap:break-word;
}
#u45073_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1916px;
  height:943px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.4);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u45073 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1916px;
  height:943px;
}
#u45074 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:464px;
  width:1912px;
  visibility:hidden;
  word-wrap:break-word;
}
#u45075 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u45076_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:572px;
  height:310px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u45076 {
  border-width:0px;
  position:absolute;
  left:672px;
  top:228px;
  width:572px;
  height:310px;
}
#u45077 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:147px;
  width:568px;
  visibility:hidden;
  word-wrap:break-word;
}
#u45078_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:572px;
  height:51px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u45078 {
  border-width:0px;
  position:absolute;
  left:672px;
  top:228px;
  width:572px;
  height:51px;
}
#u45079 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:568px;
  visibility:hidden;
  word-wrap:break-word;
}
#u45080_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#333333;
}
#u45080 {
  border-width:0px;
  position:absolute;
  left:699px;
  top:244px;
  width:65px;
  height:22px;
  font-size:16px;
  color:#333333;
}
#u45081 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u45082_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u45082 {
  border-width:0px;
  position:absolute;
  left:1212px;
  top:247px;
  width:14px;
  height:14px;
}
#u45082_img.mouseOver {
}
#u45082.mouseOver {
}
#u45083 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-1px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u45084_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:30px;
  background:inherit;
  background-color:rgba(51, 153, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(51, 153, 255, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'苹方 中等', '苹方';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u45084 {
  border-width:0px;
  position:absolute;
  left:775px;
  top:424px;
  width:63px;
  height:30px;
  font-family:'苹方 中等', '苹方';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u45085 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:5px;
  width:63px;
  word-wrap:break-word;
}
#u45086 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u45087_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'苹方 常规', '苹方';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#333333;
}
#u45087 {
  border-width:0px;
  position:absolute;
  left:695px;
  top:335px;
  width:71px;
  height:20px;
  font-family:'苹方 常规', '苹方';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#333333;
}
#u45088 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u45089 {
  border-width:0px;
  position:absolute;
  left:771px;
  top:335px;
  width:427px;
  height:76px;
}
#u45089_input {
  position:absolute;
  left:0px;
  top:0px;
  width:427px;
  height:76px;
  font-family:'苹方 中等', '苹方';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u45089_input {
  font-family:'苹方';
}
#u45089_ann {
  border-width:0px;
  position:absolute;
  left:1191px;
  top:331px;
  width:1px;
  height:1px;
}
#u45090 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u45091 {
  border-width:0px;
  position:absolute;
  left:771px;
  top:293px;
  width:82px;
  height:18px;
}
#u45092 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:64px;
  word-wrap:break-word;
}
#u45091_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u45091_ann {
  border-width:0px;
  position:absolute;
  left:846px;
  top:289px;
  width:1px;
  height:1px;
}
#u45093 {
  border-width:0px;
  position:absolute;
  left:856px;
  top:293px;
  width:100px;
  height:18px;
  font-family:'苹方 粗体', '苹方 常规', '苹方';
  font-weight:700;
  font-style:normal;
  color:#3399FF;
}
#u45094 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u45093_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u45095_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'苹方 常规', '苹方';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#333333;
}
#u45095 {
  border-width:0px;
  position:absolute;
  left:695px;
  top:293px;
  width:71px;
  height:20px;
  font-family:'苹方 常规', '苹方';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#333333;
}
#u45096 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
