body {
  margin:0px;
  background-color:rgba(250, 250, 250, 1);
  background-image:none;
  position:relative;
  left:-0px;
  width:1892px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u66862_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1892px;
  height:936px;
}
#u66862 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1892px;
  height:936px;
}
#u66863 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:460px;
  width:1888px;
  visibility:hidden;
  word-wrap:break-word;
}
#u66864 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u66865_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1892px;
  height:943px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.4);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u66865 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1892px;
  height:943px;
}
#u66866 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:464px;
  width:1888px;
  visibility:hidden;
  word-wrap:break-word;
}
#u66867 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u66868_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:572px;
  height:231px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u66868 {
  border-width:0px;
  position:absolute;
  left:672px;
  top:356px;
  width:572px;
  height:231px;
}
#u66869 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:108px;
  width:568px;
  visibility:hidden;
  word-wrap:break-word;
}
#u66870_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:572px;
  height:51px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u66870 {
  border-width:0px;
  position:absolute;
  left:672px;
  top:356px;
  width:572px;
  height:51px;
}
#u66871 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:568px;
  visibility:hidden;
  word-wrap:break-word;
}
#u66872_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#333333;
}
#u66872 {
  border-width:0px;
  position:absolute;
  left:699px;
  top:372px;
  width:65px;
  height:22px;
  font-size:16px;
  color:#333333;
}
#u66873 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u66874_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u66874 {
  border-width:0px;
  position:absolute;
  left:1212px;
  top:375px;
  width:14px;
  height:14px;
}
#u66874_img.mouseOver {
}
#u66874.mouseOver {
}
#u66875 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-1px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u66876_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:30px;
  background:inherit;
  background-color:rgba(51, 153, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(51, 153, 255, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'苹方 中等', '苹方';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u66876 {
  border-width:0px;
  position:absolute;
  left:775px;
  top:531px;
  width:63px;
  height:30px;
  font-family:'苹方 中等', '苹方';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u66877 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:5px;
  width:63px;
  word-wrap:break-word;
}
#u66878 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u66879_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'苹方 中等', '苹方';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u66879 {
  border-width:0px;
  position:absolute;
  left:699px;
  top:427px;
  width:68px;
  height:20px;
  font-family:'苹方 中等', '苹方';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u66880 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  white-space:nowrap;
}
#u66881 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u66882_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:434px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:left;
}
#u66882 {
  border-width:0px;
  position:absolute;
  left:775px;
  top:417px;
  width:434px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:left;
}
#u66882_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:434px;
  height:40px;
  background:inherit;
  background-color:rgba(249, 249, 249, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:0px 0px 5px rgba(204, 204, 204, 1);
  -webkit-box-shadow:0px 0px 5px rgba(204, 204, 204, 1);
  box-shadow:0px 0px 5px rgba(204, 204, 204, 1);
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:left;
}
#u66882.selected {
}
#u66883 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:12px;
  width:417px;
  visibility:hidden;
  word-wrap:break-word;
}
#u66884 {
  border-width:0px;
  position:absolute;
  left:789px;
  top:425px;
  width:409px;
  height:26px;
}
#u66884_input {
  position:absolute;
  left:0px;
  top:0px;
  width:409px;
  height:26px;
  font-family:'苹方 中等', '苹方';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u66884_input {
  font-family:'苹方';
}
#u66885 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u66886_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'苹方 中等', '苹方';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u66886 {
  border-width:0px;
  position:absolute;
  left:699px;
  top:481px;
  width:68px;
  height:20px;
  font-family:'苹方 中等', '苹方';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u66887 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  white-space:nowrap;
}
#u66888 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u66889_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:434px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:left;
}
#u66889 {
  border-width:0px;
  position:absolute;
  left:775px;
  top:471px;
  width:434px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:left;
}
#u66889_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:434px;
  height:40px;
  background:inherit;
  background-color:rgba(249, 249, 249, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:0px 0px 5px rgba(204, 204, 204, 1);
  -webkit-box-shadow:0px 0px 5px rgba(204, 204, 204, 1);
  box-shadow:0px 0px 5px rgba(204, 204, 204, 1);
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:left;
}
#u66889.selected {
}
#u66890 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:12px;
  width:417px;
  visibility:hidden;
  word-wrap:break-word;
}
#u66891 {
  border-width:0px;
  position:absolute;
  left:789px;
  top:479px;
  width:409px;
  height:26px;
}
#u66891_input {
  position:absolute;
  left:0px;
  top:0px;
  width:409px;
  height:26px;
  font-family:'苹方 中等', '苹方';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u66891_input {
  font-family:'苹方';
}
