
#u39987.selected {
}
#u39988 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u39989 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u39990_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:43px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:8px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u39990 {
  border-width:0px;
  position:absolute;
  left:885px;
  top:1139px;
  width:61px;
  height:43px;
  font-size:20px;
}
#u39990_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:43px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:8px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u39990.mouseOver {
}
#u39991 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:57px;
  visibility:hidden;
  word-wrap:break-word;
}
#u39992_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'苹方 特粗', '苹方 中等', '苹方';
  font-weight:900;
  font-style:normal;
  font-size:20px;
  color:#999999;
}
#u39992 {
  border-width:0px;
  position:absolute;
  left:902px;
  top:1149px;
  width:27px;
  height:28px;
  font-family:'苹方 特粗', '苹方 中等', '苹方';
  font-weight:900;
  font-style:normal;
  font-size:20px;
  color:#999999;
}
#u39992_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'苹方 特粗', '苹方 中等', '苹方';
  font-weight:900;
  font-style:normal;
  font-size:20px;
  color:#999999;
}
#u39992.mouseOver {
}
#u39992_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'苹方 特粗', '苹方 中等', '苹方';
  font-weight:900;
  font-style:normal;
  font-size:20px;
  color:#999999;
}
#u39992.selected {
}
#u39993 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u39994 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u39995_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:43px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:8px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u39995 {
  border-width:0px;
  position:absolute;
  left:946px;
  top:1139px;
  width:61px;
  height:43px;
  font-size:20px;
}
#u39995_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:43px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:8px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u39995.mouseOver {
}
#u39996 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:57px;
  visibility:hidden;
  word-wrap:break-word;
}
#u39997_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'苹方 中等', '苹方';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u39997 {
  border-width:0px;
  position:absolute;
  left:958px;
  top:1155px;
  width:37px;
  height:17px;
  font-family:'苹方 中等', '苹方';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u39997_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'苹方 中等', '苹方';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u39997.mouseOver {
}
#u39997_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'苹方 中等', '苹方';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u39997.selected {
}
#u39998 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u39999 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u40000_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:152px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:0px 2px 5px rgba(0, 0, 0, 0.0980392156862745);
  -webkit-box-shadow:0px 2px 5px rgba(0, 0, 0, 0.0980392156862745);
  box-shadow:0px 2px 5px rgba(0, 0, 0, 0.0980392156862745);
}
#u40000 {
  border-width:0px;
  position:absolute;
  left:910px;
  top:1141px;
  width:162px;
  height:152px;
}
#u40001 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:68px;
  width:158px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40002_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'苹方 粗体', '苹方 中等', '苹方';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u40002 {
  border-width:0px;
  position:absolute;
  left:920px;
  top:1155px;
  width:57px;
  height:20px;
  font-family:'苹方 粗体', '苹方 中等', '苹方';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u40003 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u40004_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u40004 {
  border-width:0px;
  position:absolute;
  left:1050px;
  top:1159px;
  width:12px;
  height:12px;
}
#u40005 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40006_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:48px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'苹方 粗体', '苹方 中等', '苹方';
  font-style:normal;
  line-height:20px;
}
#u40006 {
  border-width:0px;
  position:absolute;
  left:910px;
  top:1185px;
  width:162px;
  height:48px;
  font-family:'苹方 粗体', '苹方 中等', '苹方';
  font-style:normal;
  line-height:20px;
}
#u40007 {
  border-width:0px;
  position:absolute;
  left:8px;
  top:4px;
  width:154px;
  word-wrap:break-word;
}
#u40008_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:11px;
}
#u40008 {
  border-width:0px;
  position:absolute;
  left:1056px;
  top:1204px;
  width:6px;
  height:11px;
}
#u40009 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-2px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40010_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'苹方 粗体', '苹方 中等', '苹方';
  font-style:normal;
  line-height:20px;
}
#u40010 {
  border-width:0px;
  position:absolute;
  left:910px;
  top:1235px;
  width:162px;
  height:48px;
  font-family:'苹方 粗体', '苹方 中等', '苹方';
  font-style:normal;
  line-height:20px;
}
#u40011 {
  border-width:0px;
  position:absolute;
  left:8px;
  top:4px;
  width:154px;
  word-wrap:break-word;
}
#u40012_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:11px;
}
#u40012 {
  border-width:0px;
  position:absolute;
  left:1056px;
  top:1254px;
  width:6px;
  height:11px;
}
#u40013 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-2px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40014 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u40015 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u40016_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:127px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:0px 2px 5px rgba(0, 0, 0, 0.0980392156862745);
  -webkit-box-shadow:0px 2px 5px rgba(0, 0, 0, 0.0980392156862745);
  box-shadow:0px 2px 5px rgba(0, 0, 0, 0.0980392156862745);
}
#u40016 {
  border-width:0px;
  position:absolute;
  left:1076px;
  top:1185px;
  width:146px;
  height:127px;
}
#u40017 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:56px;
  width:142px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40018_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'苹方 粗体', '苹方 中等', '苹方';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  line-height:28px;
}
#u40018 {
  border-width:0px;
  position:absolute;
  left:1076px;
  top:1227px;
  width:146px;
  height:40px;
  font-family:'苹方 粗体', '苹方 中等', '苹方';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  line-height:28px;
}
#u40019 {
  border-width:0px;
  position:absolute;
  left:8px;
  top:6px;
  width:138px;
  word-wrap:break-word;
}
#u40020_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'苹方 中等', '苹方';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
  line-height:28px;
}
#u40020 {
  border-width:0px;
  position:absolute;
  left:1076px;
  top:1188px;
  width:146px;
  height:40px;
  font-family:'苹方 中等', '苹方';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
  line-height:28px;
}
#u40021 {
  border-width:0px;
  position:absolute;
  left:8px;
  top:6px;
  width:138px;
  word-wrap:break-word;
}
#u40022_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'苹方 中等', '苹方';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
  line-height:28px;
}
#u40022 {
  border-width:0px;
  position:absolute;
  left:1076px;
  top:1267px;
  width:146px;
  height:40px;
  font-family:'苹方 中等', '苹方';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
  line-height:28px;
}
#u40023 {
  border-width:0px;
  position:absolute;
  left:8px;
  top:6px;
  width:138px;
  word-wrap:break-word;
}
