body {
  margin:0px;
  background-color:rgba(250, 250, 250, 1);
  background-image:none;
  position:relative;
  left:-20px;
  width:1600px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u66200_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1600px;
  height:1060px;
}
#u66200 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:60px;
  width:1600px;
  height:1060px;
}
#u66201 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:522px;
  width:1596px;
  visibility:hidden;
  word-wrap:break-word;
}
#u66203 {
  border-width:0px;
  position:absolute;
  left:38px;
  top:75px;
  width:1100px;
  height:40px;
  overflow:hidden;
}
#u66203_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1100px;
  height:40px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u66203_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u66204 {
  border-width:0px;
  position:absolute;
  left:38px;
  top:115px;
  width:1100px;
  height:1px;
  overflow:hidden;
}
#u66204_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1100px;
  height:1px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u66204_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u66205_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:203px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#333333;
  text-align:left;
}
#u66205 {
  border-width:0px;
  position:absolute;
  left:38px;
  top:88px;
  width:203px;
  height:17px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#333333;
  text-align:left;
}
#u66206 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-2px;
  width:201px;
  word-wrap:break-word;
}
#u66207_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'苹方 中等', '苹方';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u66207 {
  border-width:0px;
  position:absolute;
  left:133px;
  top:87px;
  width:144px;
  height:20px;
  font-family:'苹方 中等', '苹方';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u66208 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  white-space:nowrap;
}
#u66209 {
  position:absolute;
  left:38px;
  top:133px;
}
#u66209_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:910px;
  height:792px;
  background-image:none;
}
#u66209_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u66210 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u66211_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'苹方 中等', '苹方';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u66211 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:10px;
  width:68px;
  height:20px;
  font-family:'苹方 中等', '苹方';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u66212 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  white-space:nowrap;
}
#u66213 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u66214_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:600px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:left;
}
#u66214 {
  border-width:0px;
  position:absolute;
  left:76px;
  top:0px;
  width:600px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:left;
}
#u66214_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:600px;
  height:40px;
  background:inherit;
  background-color:rgba(249, 249, 249, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:0px 0px 5px rgba(204, 204, 204, 1);
  -webkit-box-shadow:0px 0px 5px rgba(204, 204, 204, 1);
  box-shadow:0px 0px 5px rgba(204, 204, 204, 1);
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:left;
}
#u66214.selected {
}
#u66215 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:12px;
  width:583px;
  visibility:hidden;
  word-wrap:break-word;
}
#u66216 {
  border-width:0px;
  position:absolute;
  left:87px;
  top:8px;
  width:573px;
  height:26px;
}
#u66216_input {
  position:absolute;
  left:0px;
  top:0px;
  width:573px;
  height:26px;
  font-family:'苹方 中等', '苹方';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:transparent;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u66216_input {
  font-family:'苹方';
}
#u66217 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u66218_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'苹方 中等', '苹方';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u66218 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:59px;
  width:68px;
  height:20px;
  font-family:'苹方 中等', '苹方';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u66219 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  white-space:nowrap;
}
#u66220 {
  border-width:0px;
  position:absolute;
  left:76px;
  top:54px;
  width:286px;
  height:30px;
}
#u66220_input {
  position:absolute;
  left:0px;
  top:0px;
  width:286px;
  height:30px;
  font-family:'苹方 中等', '苹方';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u66220_input {
  font-family:'苹方';
}
#u66220_input:disabled {
  color:grayText;
}
#u66221 {
  border-width:0px;
  position:absolute;
  left:390px;
  top:54px;
  width:286px;
  height:30px;
}
#u66221_input {
  position:absolute;
  left:0px;
  top:0px;
  width:286px;
  height:30px;
  font-family:'苹方 中等', '苹方';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u66221_input {
  font-family:'苹方';
}
#u66221_input:disabled {
  color:grayText;
}
#u66222 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u66223_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:851px;
  height:652px;
}
#u66223 {
  border-width:0px;
  position:absolute;
  left:59px;
  top:94px;
  width:851px;
  height:652px;
}
#u66224 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:318px;
  width:847px;
  visibility:hidden;
  word-wrap:break-word;
}
#u66225_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'苹方 中等', '苹方';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u66225 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:105px;
  width:68px;
  height:20px;
  font-family:'苹方 中等', '苹方';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u66226 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  white-space:nowrap;
}
#u66227 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u66228 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u66229_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:30px;
  background:inherit;
  background-color:rgba(51, 153, 255, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u66229 {
  border-width:0px;
  position:absolute;
  left:76px;
  top:762px;
  width:92px;
  height:30px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u66229_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:30px;
  background:inherit;
  background-color:rgba(51, 153, 255, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u66229.mouseOver {
  opacity:0.8;
}
#u66230 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:88px;
  word-wrap:break-word;
}
#u66231 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u66232 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u66233 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u66234_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u66234 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:20px;
  width:55px;
  height:17px;
  font-size:12px;
}
#u66235 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  white-space:nowrap;
}
#u66236_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u66236 {
  border-width:0px;
  position:absolute;
  left:79px;
  top:20px;
  width:70px;
  height:17px;
  font-size:12px;
}
#u66237 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  word-wrap:break-word;
}
#u66238_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u66238 {
  border-width:0px;
  position:absolute;
  left:157px;
  top:20px;
  width:70px;
  height:17px;
  font-size:12px;
}
#u66239 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  word-wrap:break-word;
}
