body {
  margin:0px;
  background-color:rgba(250, 250, 250, 1);
  background-image:none;
  position:relative;
  left:-0px;
  width:1892px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u65502_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1892px;
  height:936px;
}
#u65502 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1892px;
  height:936px;
}
#u65503 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:460px;
  width:1888px;
  visibility:hidden;
  word-wrap:break-word;
}
#u65504 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u65505_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1892px;
  height:943px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.4);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u65505 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1892px;
  height:943px;
}
#u65506 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:464px;
  width:1888px;
  visibility:hidden;
  word-wrap:break-word;
}
#u65507 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u65508_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:572px;
  height:231px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u65508 {
  border-width:0px;
  position:absolute;
  left:672px;
  top:356px;
  width:572px;
  height:231px;
}
#u65509 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:108px;
  width:568px;
  visibility:hidden;
  word-wrap:break-word;
}
#u65510_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:572px;
  height:51px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u65510 {
  border-width:0px;
  position:absolute;
  left:672px;
  top:356px;
  width:572px;
  height:51px;
}
#u65511 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:568px;
  visibility:hidden;
  word-wrap:break-word;
}
#u65512_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#333333;
}
#u65512 {
  border-width:0px;
  position:absolute;
  left:699px;
  top:372px;
  width:65px;
  height:22px;
  font-size:16px;
  color:#333333;
}
#u65513 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u65514_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u65514 {
  border-width:0px;
  position:absolute;
  left:1212px;
  top:375px;
  width:14px;
  height:14px;
}
#u65514_img.mouseOver {
}
#u65514.mouseOver {
}
#u65515 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-1px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u65516_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:30px;
  background:inherit;
  background-color:rgba(51, 153, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(51, 153, 255, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'苹方 中等', '苹方';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u65516 {
  border-width:0px;
  position:absolute;
  left:775px;
  top:531px;
  width:63px;
  height:30px;
  font-family:'苹方 中等', '苹方';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u65517 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:5px;
  width:63px;
  word-wrap:break-word;
}
#u65518 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u65519_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'苹方 常规', '苹方';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u65519 {
  border-width:0px;
  position:absolute;
  left:699px;
  top:427px;
  width:68px;
  height:20px;
  font-family:'苹方 常规', '苹方';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u65520 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  white-space:nowrap;
}
#u65521 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u65522_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:434px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:left;
}
#u65522 {
  border-width:0px;
  position:absolute;
  left:775px;
  top:417px;
  width:434px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:left;
}
#u65522_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:434px;
  height:40px;
  background:inherit;
  background-color:rgba(249, 249, 249, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:0px 0px 5px rgba(204, 204, 204, 1);
  -webkit-box-shadow:0px 0px 5px rgba(204, 204, 204, 1);
  box-shadow:0px 0px 5px rgba(204, 204, 204, 1);
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:left;
}
#u65522.selected {
}
#u65523 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:12px;
  width:417px;
  visibility:hidden;
  word-wrap:break-word;
}
#u65524 {
  border-width:0px;
  position:absolute;
  left:789px;
  top:425px;
  width:409px;
  height:26px;
}
#u65524_input {
  position:absolute;
  left:0px;
  top:0px;
  width:409px;
  height:26px;
  font-family:'苹方 中等', '苹方';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u65524_input {
  font-family:'苹方';
}
#u65525 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u65526_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'苹方 常规', '苹方';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u65526 {
  border-width:0px;
  position:absolute;
  left:699px;
  top:481px;
  width:68px;
  height:20px;
  font-family:'苹方 常规', '苹方';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u65527 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  white-space:nowrap;
}
#u65528 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u65529_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:434px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:left;
}
#u65529 {
  border-width:0px;
  position:absolute;
  left:775px;
  top:471px;
  width:434px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:left;
}
#u65529_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:434px;
  height:40px;
  background:inherit;
  background-color:rgba(249, 249, 249, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:0px 0px 5px rgba(204, 204, 204, 1);
  -webkit-box-shadow:0px 0px 5px rgba(204, 204, 204, 1);
  box-shadow:0px 0px 5px rgba(204, 204, 204, 1);
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:left;
}
#u65529.selected {
}
#u65530 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:12px;
  width:417px;
  visibility:hidden;
  word-wrap:break-word;
}
#u65531 {
  border-width:0px;
  position:absolute;
  left:789px;
  top:479px;
  width:409px;
  height:26px;
}
#u65531_input {
  position:absolute;
  left:0px;
  top:0px;
  width:409px;
  height:26px;
  font-family:'苹方 中等', '苹方';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u65531_input {
  font-family:'苹方';
}
