body {
  margin:0px;
  background-color:rgba(250, 250, 250, 1);
  background-image:none;
  position:relative;
  left:-59px;
  width:1017px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u71752_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:48px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:50px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u71752 {
  border-width:0px;
  position:absolute;
  left:59px;
  top:108px;
  width:103px;
  height:48px;
}
#u71753 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:15px;
  width:99px;
  word-wrap:break-word;
}
#u71754_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'苹方 粗体', '苹方 中等', '苹方';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#6699CC;
}
#u71754 {
  border-width:0px;
  position:absolute;
  left:59px;
  top:33px;
  width:138px;
  height:28px;
  font-family:'苹方 粗体', '苹方 中等', '苹方';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#6699CC;
}
#u71755 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  white-space:nowrap;
}
#u71756_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u71756 {
  border-width:0px;
  position:absolute;
  left:61px;
  top:196px;
  width:100px;
  height:60px;
}
#u71757 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:21px;
  width:96px;
  word-wrap:break-word;
}
#u71758_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u71758 {
  border-width:0px;
  position:absolute;
  left:61px;
  top:286px;
  width:100px;
  height:60px;
}
#u71759 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:96px;
  word-wrap:break-word;
}
#u71760_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u71760 {
  border-width:0px;
  position:absolute;
  left:61px;
  top:626px;
  width:100px;
  height:60px;
}
#u71761 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:21px;
  width:96px;
  word-wrap:break-word;
}
#u71762 {
  border-width:0px;
  position:absolute;
  left:111px;
  top:156px;
  width:0px;
  height:0px;
  color:#333333;
}
#u71762_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:44px;
}
#u71762_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:27px;
  width:20px;
  height:20px;
}
#u71763 {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:12px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u71764 {
  border-width:0px;
  position:absolute;
  left:110px;
  top:256px;
  width:0px;
  height:0px;
  color:#333333;
}
#u71764_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:34px;
}
#u71764_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:17px;
  width:20px;
  height:20px;
}
#u71765 {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:7px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u71766_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u71766 {
  border-width:0px;
  position:absolute;
  left:198px;
  top:286px;
  width:100px;
  height:60px;
}
#u71767 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:21px;
  width:96px;
  word-wrap:break-word;
}
#u71768 {
  border-width:0px;
  position:absolute;
  left:161px;
  top:316px;
  width:0px;
  height:0px;
  color:#333333;
}
#u71768_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:41px;
  height:8px;
}
#u71768_seg1 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:-10px;
  width:20px;
  height:20px;
}
#u71769 {
  border-width:0px;
  position:absolute;
  left:-32px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u71770_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:105px;
  height:65px;
}
#u71770 {
  border-width:0px;
  position:absolute;
  left:61px;
  top:877px;
  width:100px;
  height:60px;
}
#u71771 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:21px;
  width:96px;
  word-wrap:break-word;
}
#u71772_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:105px;
  height:65px;
}
#u71772 {
  border-width:0px;
  position:absolute;
  left:61px;
  top:962px;
  width:100px;
  height:60px;
}
#u71773 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:21px;
  width:96px;
  word-wrap:break-word;
}
#u71774_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u71774 {
  border-width:0px;
  position:absolute;
  left:61px;
  top:1043px;
  width:100px;
  height:60px;
}
#u71775 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:21px;
  width:96px;
  word-wrap:break-word;
}
#u71776_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u71776 {
  border-width:0px;
  position:absolute;
  left:61px;
  top:1239px;
  width:100px;
  height:60px;
}
#u71777 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:21px;
  width:96px;
  word-wrap:break-word;
}
#u71778_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u71778 {
  border-width:0px;
  position:absolute;
  left:61px;
  top:1351px;
  width:100px;
  height:60px;
}
#u71779 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:21px;
  width:96px;
  word-wrap:break-word;
}
#u71780_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:105px;
  height:65px;
}
#u71780 {
  border-width:0px;
  position:absolute;
  left:224px;
  top:1239px;
  width:100px;
  height:60px;
}
#u71781 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:21px;
  width:96px;
  word-wrap:break-word;
}
#u71782_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:48px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:50px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u71782 {
  border-width:0px;
  position:absolute;
  left:59px;
  top:1442px;
  width:103px;
  height:48px;
}
#u71783 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:15px;
  width:99px;
  word-wrap:break-word;
}
#u71784_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u71784 {
  border-width:0px;
  position:absolute;
  left:61px;
  top:759px;
  width:100px;
  height:60px;
}
#u71785 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:21px;
  width:96px;
  word-wrap:break-word;
}
#u71786 {
  border-width:0px;
  position:absolute;
  left:111px;
  top:686px;
  width:0px;
  height:0px;
  color:#333333;
}
#u71786_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:77px;
}
#u71786_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:60px;
  width:20px;
  height:20px;
}
#u71787 {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:28px;
  width:100px;
  word-wrap:break-word;
}
#u71788 {
  border-width:0px;
  position:absolute;
  left:111px;
  top:819px;
  width:0px;
  height:0px;
  color:#333333;
}
#u71788_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:62px;
}
#u71788_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:45px;
  width:20px;
  height:20px;
}
#u71789 {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:21px;
  width:100px;
  word-wrap:break-word;
}
#u71790 {
  border-width:0px;
  position:absolute;
  left:161px;
  top:789px;
  width:0px;
  height:0px;
  color:#333333;
}
#u71790_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:210px;
  height:8px;
}
#u71790_seg1 {
  border-width:0px;
  position:absolute;
  left:193px;
  top:-10px;
  width:20px;
  height:20px;
}
#u71791 {
  border-width:0px;
  position:absolute;
  left:53px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
}
#u71792 {
  border-width:0px;
  position:absolute;
  left:111px;
  top:937px;
  width:0px;
  height:0px;
  color:#333333;
}
#u71792_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:29px;
}
#u71792_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:12px;
  width:20px;
  height:20px;
}
#u71793 {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:4px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u71794 {
  border-width:0px;
  position:absolute;
  left:111px;
  top:1022px;
  width:0px;
  height:0px;
  color:#333333;
}
#u71794_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:25px;
}
#u71794_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:8px;
  width:20px;
  height:20px;
}
#u71795 {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:2px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u71796 {
  border-width:0px;
  position:absolute;
  left:161px;
  top:1073px;
  width:0px;
  height:0px;
  color:#333333;
}
#u71796_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:23px;
  height:8px;
}
#u71796_seg1 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:-170px;
  width:8px;
  height:174px;
}
#u71796_seg2 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-170px;
  width:23px;
  height:8px;
}
#u71796_seg3 {
  border-width:0px;
  position:absolute;
  left:-7px;
  top:-176px;
  width:20px;
  height:20px;
}
#u71797 {
  border-width:0px;
  position:absolute;
  left:-31px;
  top:-91px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u71798 {
  border-width:0px;
  position:absolute;
  left:111px;
  top:1103px;
  width:0px;
  height:0px;
  color:#333333;
}
#u71798_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:30px;
}
#u71798_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:13px;
  width:20px;
  height:20px;
}
#u71799 {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:5px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u71800 {
  border-width:0px;
  position:absolute;
  left:161px;
  top:1269px;
  width:0px;
  height:0px;
  color:#333333;
}
#u71800_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:67px;
  height:8px;
}
#u71800_seg1 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:-10px;
  width:20px;
  height:20px;
}
#u71801 {
  border-width:0px;
  position:absolute;
  left:-18px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
}
#u71802 {
  border-width:0px;
  position:absolute;
  left:274px;
  top:1299px;
  width:0px;
  height:0px;
  color:#333333;
}
#u71802_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:86px;
}
#u71802_seg1 {
  border-width:0px;
  position:absolute;
  left:-113px;
  top:78px;
  width:117px;
  height:8px;
}
#u71802_seg2 {
  border-width:0px;
  position:absolute;
  left:-120px;
  top:72px;
  width:20px;
  height:20px;
}
#u71803 {
  border-width:0px;
  position:absolute;
  left:-66px;
  top:74px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u71804 {
  border-width:0px;
  position:absolute;
  left:111px;
  top:1299px;
  width:0px;
  height:0px;
  color:#333333;
}
#u71804_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:56px;
}
#u71804_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:39px;
  width:20px;
  height:20px;
}
#u71805 {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:18px;
  width:100px;
  word-wrap:break-word;
}
#u71806 {
  border-width:0px;
  position:absolute;
  left:111px;
  top:1411px;
  width:0px;
  height:0px;
  color:#333333;
}
#u71806_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:35px;
}
#u71806_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:18px;
  width:20px;
  height:20px;
}
#u71807 {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u71808 {
  border-width:0px;
  position:absolute;
  left:417px;
  top:819px;
  width:0px;
  height:0px;
  color:#333333;
}
#u71808_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:401px;
}
#u71808_seg1 {
  border-width:0px;
  position:absolute;
  left:-302px;
  top:393px;
  width:306px;
  height:8px;
}
#u71808_seg2 {
  border-width:0px;
  position:absolute;
  left:-309px;
  top:387px;
  width:20px;
  height:20px;
}
#u71809 {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:342px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u71810_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:105px;
  height:65px;
}
#u71810 {
  border-width:0px;
  position:absolute;
  left:371px;
  top:759px;
  width:100px;
  height:60px;
}
#u71811 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:21px;
  width:96px;
  word-wrap:break-word;
}
#u71812_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'苹方 粗体', '苹方 中等', '苹方';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#6699CC;
}
#u71812 {
  border-width:0px;
  position:absolute;
  left:770px;
  top:33px;
  width:138px;
  height:28px;
  font-family:'苹方 粗体', '苹方 中等', '苹方';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#6699CC;
}
#u71813 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  white-space:nowrap;
}
#u71814_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:50px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u71814 {
  border-width:0px;
  position:absolute;
  left:781px;
  top:96px;
  width:100px;
  height:60px;
}
#u71815 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:21px;
  width:96px;
  word-wrap:break-word;
}
#u71816_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u71816 {
  border-width:0px;
  position:absolute;
  left:781px;
  top:196px;
  width:100px;
  height:60px;
}
#u71817 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:21px;
  width:96px;
  word-wrap:break-word;
}
#u71818_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u71818 {
  border-width:0px;
  position:absolute;
  left:781px;
  top:312px;
  width:100px;
  height:60px;
}
#u71819 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:21px;
  width:96px;
  word-wrap:break-word;
}
#u71820_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u71820 {
  border-width:0px;
  position:absolute;
  left:781px;
  top:668px;
  width:100px;
  height:60px;
}
#u71821 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:21px;
  width:96px;
  word-wrap:break-word;
}
#u71822_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:61px;
}
#u71822 {
  border-width:0px;
  position:absolute;
  left:776px;
  top:422px;
  width:110px;
  height:61px;
}
#u71823 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:106px;
  word-wrap:break-word;
}
#u71824_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u71824 {
  border-width:0px;
  position:absolute;
  left:945px;
  top:423px;
  width:100px;
  height:60px;
}
#u71825 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:21px;
  width:96px;
  word-wrap:break-word;
}
#u71826_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u71826 {
  border-width:0px;
  position:absolute;
  left:781px;
  top:569px;
  width:100px;
  height:60px;
}
#u71827 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:21px;
  width:96px;
  word-wrap:break-word;
}
#u71828_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u71828 {
  border-width:0px;
  position:absolute;
  left:781px;
  top:776px;
  width:100px;
  height:60px;
}
#u71829 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:21px;
  width:96px;
  word-wrap:break-word;
}
#u71830_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:50px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u71830 {
  border-width:0px;
  position:absolute;
  left:781px;
  top:882px;
  width:100px;
  height:60px;
}
#u71831 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:21px;
  width:96px;
  word-wrap:break-word;
}
#u71832 {
  border-width:0px;
  position:absolute;
  left:831px;
  top:156px;
  width:0px;
  height:0px;
  color:#333333;
}
#u71832_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:44px;
}
#u71832_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:27px;
  width:20px;
  height:20px;
}
#u71833 {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:12px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u71834 {
  border-width:0px;
  position:absolute;
  left:831px;
  top:256px;
  width:0px;
  height:0px;
  color:#333333;
}
#u71834_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:60px;
}
#u71834_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:43px;
  width:20px;
  height:20px;
}
#u71835 {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:20px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u71836 {
  border-width:0px;
  position:absolute;
  left:831px;
  top:372px;
  width:0px;
  height:0px;
  color:#333333;
}
#u71836_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:54px;
}
#u71836_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:37px;
  width:20px;
  height:20px;
}
#u71837 {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:17px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u71838 {
  border-width:0px;
  position:absolute;
  left:886px;
  top:453px;
  width:0px;
  height:0px;
  color:#333333;
}
#u71838_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:63px;
  height:8px;
}
#u71838_seg1 {
  border-width:0px;
  position:absolute;
  left:46px;
  top:-10px;
  width:20px;
  height:20px;
}
#u71839 {
  border-width:0px;
  position:absolute;
  left:-20px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
}
#u71840 {
  border-width:0px;
  position:absolute;
  left:831px;
  top:483px;
  width:0px;
  height:0px;
  color:#333333;
}
#u71840_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:90px;
}
#u71840_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:73px;
  width:20px;
  height:20px;
}
#u71841 {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:35px;
  width:100px;
  word-wrap:break-word;
}
#u71842 {
  border-width:0px;
  position:absolute;
  left:831px;
  top:629px;
  width:0px;
  height:0px;
  color:#333333;
}
#u71842_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:43px;
}
#u71842_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:26px;
  width:20px;
  height:20px;
}
#u71843 {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:12px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u71844 {
  border-width:0px;
  position:absolute;
  left:831px;
  top:728px;
  width:0px;
  height:0px;
  color:#333333;
}
#u71844_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:52px;
}
#u71844_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:35px;
  width:20px;
  height:20px;
}
#u71845 {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:16px;
  width:100px;
  word-wrap:break-word;
}
#u71846 {
  border-width:0px;
  position:absolute;
  left:831px;
  top:836px;
  width:0px;
  height:0px;
  color:#333333;
}
#u71846_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:50px;
}
#u71846_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:33px;
  width:20px;
  height:20px;
}
#u71847 {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:15px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u71848 {
  border-width:0px;
  position:absolute;
  left:881px;
  top:698px;
  width:0px;
  height:0px;
  color:#333333;
}
#u71848_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:184px;
  height:8px;
}
#u71848_seg1 {
  border-width:0px;
  position:absolute;
  left:176px;
  top:-476px;
  width:8px;
  height:480px;
}
#u71848_seg2 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-476px;
  width:184px;
  height:8px;
}
#u71848_seg3 {
  border-width:0px;
  position:absolute;
  left:-7px;
  top:-482px;
  width:20px;
  height:20px;
}
#u71849 {
  border-width:0px;
  position:absolute;
  left:130px;
  top:-244px;
  width:100px;
  word-wrap:break-word;
}
#u71850 {
  border-width:0px;
  position:absolute;
  left:995px;
  top:483px;
  width:0px;
  height:0px;
  color:#333333;
}
#u71850_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:120px;
}
#u71850_seg1 {
  border-width:0px;
  position:absolute;
  left:-114px;
  top:112px;
  width:118px;
  height:8px;
}
#u71850_seg2 {
  border-width:0px;
  position:absolute;
  left:-121px;
  top:106px;
  width:20px;
  height:20px;
}
#u71851 {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:107px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u71852_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u71852 {
  border-width:0px;
  position:absolute;
  left:61px;
  top:369px;
  width:100px;
  height:60px;
}
#u71853 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:21px;
  width:96px;
  word-wrap:break-word;
}
#u71854_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u71854 {
  border-width:0px;
  position:absolute;
  left:61px;
  top:446px;
  width:100px;
  height:60px;
}
#u71855 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:21px;
  width:96px;
  word-wrap:break-word;
}
#u71856_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u71856 {
  border-width:0px;
  position:absolute;
  left:61px;
  top:530px;
  width:100px;
  height:60px;
}
#u71857 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:21px;
  width:96px;
  word-wrap:break-word;
}
#u71858_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u71858 {
  border-width:0px;
  position:absolute;
  left:224px;
  top:626px;
  width:100px;
  height:60px;
}
#u71859 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:21px;
  width:96px;
  word-wrap:break-word;
}
#u71860_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u71860 {
  border-width:0px;
  position:absolute;
  left:371px;
  top:626px;
  width:100px;
  height:60px;
}
#u71861 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:96px;
  word-wrap:break-word;
}
#u71862 {
  border-width:0px;
  position:absolute;
  left:111px;
  top:346px;
  width:0px;
  height:0px;
  color:#333333;
}
#u71862_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:27px;
}
#u71862_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:10px;
  width:20px;
  height:20px;
}
#u71863 {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:4px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u71864 {
  border-width:0px;
  position:absolute;
  left:111px;
  top:429px;
  width:0px;
  height:0px;
  color:#333333;
}
#u71864_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:21px;
}
#u71864_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:4px;
  width:20px;
  height:20px;
}
#u71865 {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:0px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u71866 {
  border-width:0px;
  position:absolute;
  left:111px;
  top:506px;
  width:0px;
  height:0px;
  color:#333333;
}
#u71866_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:28px;
}
#u71866_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:11px;
  width:20px;
  height:20px;
}
#u71867 {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:4px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u71868 {
  border-width:0px;
  position:absolute;
  left:111px;
  top:590px;
  width:0px;
  height:0px;
  color:#333333;
}
#u71868_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:40px;
}
#u71868_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:23px;
  width:20px;
  height:20px;
}
#u71869 {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:10px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u71870 {
  border-width:0px;
  position:absolute;
  left:161px;
  top:656px;
  width:0px;
  height:0px;
  color:#333333;
}
#u71870_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:67px;
  height:8px;
}
#u71870_seg1 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:-10px;
  width:20px;
  height:20px;
}
#u71871 {
  border-width:0px;
  position:absolute;
  left:-18px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
}
#u71872 {
  border-width:0px;
  position:absolute;
  left:324px;
  top:656px;
  width:0px;
  height:0px;
  color:#333333;
}
#u71872_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:51px;
  height:8px;
}
#u71872_seg1 {
  border-width:0px;
  position:absolute;
  left:34px;
  top:-10px;
  width:20px;
  height:20px;
}
#u71873 {
  border-width:0px;
  position:absolute;
  left:-26px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
}
#u71874 {
  border-width:0px;
  position:absolute;
  left:421px;
  top:686px;
  width:0px;
  height:0px;
  color:#333333;
}
#u71874_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:42px;
}
#u71874_seg1 {
  border-width:0px;
  position:absolute;
  left:-308px;
  top:34px;
  width:312px;
  height:8px;
}
#u71874_seg2 {
  border-width:0px;
  position:absolute;
  left:-315px;
  top:28px;
  width:20px;
  height:20px;
}
#u71875 {
  border-width:0px;
  position:absolute;
  left:-185px;
  top:30px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u71876_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u71876 {
  border-width:0px;
  position:absolute;
  left:61px;
  top:1129px;
  width:100px;
  height:60px;
}
#u71877 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:21px;
  width:96px;
  word-wrap:break-word;
}
#u71878 {
  border-width:0px;
  position:absolute;
  left:111px;
  top:1189px;
  width:0px;
  height:0px;
  color:#333333;
}
#u71878_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:54px;
}
#u71878_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:37px;
  width:20px;
  height:20px;
}
#u71879 {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:17px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u71880 {
  border-width:0px;
  position:absolute;
  left:274px;
  top:626px;
  width:0px;
  height:0px;
  color:#333333;
}
#u71880_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-231px;
  width:8px;
  height:231px;
}
#u71880_seg1 {
  border-width:0px;
  position:absolute;
  left:-113px;
  top:-231px;
  width:117px;
  height:8px;
}
#u71880_seg2 {
  border-width:0px;
  position:absolute;
  left:-120px;
  top:-237px;
  width:20px;
  height:20px;
}
#u71881 {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:-178px;
  width:100px;
  word-wrap:break-word;
}
