body {
  margin:0px;
  background-color:rgba(250, 250, 250, 1);
  background-image:none;
  position:relative;
  left:-85px;
  width:3381px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u34997_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:768px;
  height:498px;
}
#u34997 {
  border-width:0px;
  position:absolute;
  left:953px;
  top:3330px;
  width:768px;
  height:498px;
}
#u34998 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:241px;
  width:764px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34999 {
  border-width:0px;
  position:absolute;
  left:480px;
  top:488px;
  width:0px;
  height:0px;
  color:#333333;
}
#u34999_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:79px;
}
#u34999_seg1 {
  border-width:0px;
  position:absolute;
  left:-12px;
  top:60px;
  width:24px;
  height:24px;
}
#u35000 {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:30px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35001 {
  border-width:0px;
  position:absolute;
  left:853px;
  top:780px;
  width:0px;
  height:0px;
  color:#333333;
}
#u35001_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:46px;
  height:8px;
}
#u35001_seg1 {
  border-width:0px;
  position:absolute;
  left:27px;
  top:-12px;
  width:24px;
  height:24px;
}
#u35002 {
  border-width:0px;
  position:absolute;
  left:-29px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35003 {
  border-width:0px;
  position:absolute;
  left:480px;
  top:1499px;
  width:0px;
  height:0px;
  color:#333333;
}
#u35003_seg0 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:-4px;
  width:9px;
  height:8px;
}
#u35003_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:-4px;
  width:8px;
  height:87px;
}
#u35003_seg2 {
  border-width:0px;
  position:absolute;
  left:-17px;
  top:68px;
  width:24px;
  height:24px;
}
#u35004 {
  border-width:0px;
  position:absolute;
  left:-55px;
  top:31px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35005 {
  border-width:0px;
  position:absolute;
  left:864px;
  top:1811px;
  width:0px;
  height:0px;
  color:#333333;
}
#u35005_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:7px;
}
#u35005_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-1px;
  width:106px;
  height:8px;
}
#u35005_seg2 {
  border-width:0px;
  position:absolute;
  left:87px;
  top:-9px;
  width:24px;
  height:24px;
}
#u35006 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35007 {
  border-width:0px;
  position:absolute;
  left:480px;
  top:2534px;
  width:0px;
  height:0px;
  color:#333333;
}
#u35007_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:123px;
}
#u35007_seg1 {
  border-width:0px;
  position:absolute;
  left:-12px;
  top:104px;
  width:24px;
  height:24px;
}
#u35008 {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:52px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35009_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'苹方 粗体', '苹方 中等', '苹方';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FF0000;
}
#u35009 {
  border-width:0px;
  position:absolute;
  left:495px;
  top:2601px;
  width:81px;
  height:28px;
  font-family:'苹方 粗体', '苹方 中等', '苹方';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FF0000;
}
#u35010 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u35011 {
  border-width:0px;
  position:absolute;
  left:469px;
  top:3144px;
  width:0px;
  height:0px;
  color:#333333;
}
#u35011_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:184px;
}
#u35011_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:176px;
  width:7px;
  height:8px;
}
#u35011_seg2 {
  border-width:0px;
  position:absolute;
  left:-12px;
  top:-9px;
  width:24px;
  height:24px;
}
#u35011_seg3 {
  border-width:0px;
  position:absolute;
  left:-12px;
  top:168px;
  width:24px;
  height:24px;
}
#u35012 {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:84px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35013 {
  border-width:0px;
  position:absolute;
  left:864px;
  top:2903px;
  width:0px;
  height:0px;
  color:#333333;
}
#u35013_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:42px;
  height:8px;
}
#u35013_seg1 {
  border-width:0px;
  position:absolute;
  left:34px;
  top:-4px;
  width:8px;
  height:684px;
}
#u35013_seg2 {
  border-width:0px;
  position:absolute;
  left:34px;
  top:672px;
  width:55px;
  height:8px;
}
#u35013_seg3 {
  border-width:0px;
  position:absolute;
  left:74px;
  top:664px;
  width:24px;
  height:24px;
}
#u35014 {
  border-width:0px;
  position:absolute;
  left:-12px;
  top:337px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35015 {
  border-width:0px;
  position:absolute;
  left:864px;
  top:2903px;
  width:0px;
  height:0px;
  color:#333333;
}
#u35015_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-10px;
  width:8px;
  height:10px;
}
#u35015_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-10px;
  width:121px;
  height:8px;
}
#u35015_seg2 {
  border-width:0px;
  position:absolute;
  left:102px;
  top:-18px;
  width:24px;
  height:24px;
}
#u35016 {
  border-width:0px;
  position:absolute;
  left:6px;
  top:-14px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35017 {
  border-width:0px;
  position:absolute;
  left:864px;
  top:2903px;
  width:0px;
  height:0px;
  color:#333333;
}
#u35017_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:48px;
  height:8px;
}
#u35017_seg1 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:-377px;
  width:8px;
  height:381px;
}
#u35017_seg2 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:-377px;
  width:1330px;
  height:8px;
}
#u35017_seg3 {
  border-width:0px;
  position:absolute;
  left:1362px;
  top:-377px;
  width:8px;
  height:128px;
}
#u35017_seg4 {
  border-width:0px;
  position:absolute;
  left:1354px;
  top:-264px;
  width:24px;
  height:24px;
}
#u35018 {
  border-width:0px;
  position:absolute;
  left:508px;
  top:-381px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35019 {
  border-width:0px;
  position:absolute;
  left:864px;
  top:2903px;
  width:0px;
  height:0px;
  color:#333333;
}
#u35019_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:49px;
  height:8px;
}
#u35019_seg1 {
  border-width:0px;
  position:absolute;
  left:41px;
  top:-4px;
  width:8px;
  height:297px;
}
#u35019_seg2 {
  border-width:0px;
  position:absolute;
  left:41px;
  top:285px;
  width:2226px;
  height:8px;
}
#u35019_seg3 {
  border-width:0px;
  position:absolute;
  left:2259px;
  top:248px;
  width:8px;
  height:45px;
}
#u35019_seg4 {
  border-width:0px;
  position:absolute;
  left:2251px;
  top:239px;
  width:24px;
  height:24px;
}
#u35020 {
  border-width:0px;
  position:absolute;
  left:958px;
  top:281px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35021_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:768px;
  height:474px;
}
#u35021 {
  border-width:0px;
  position:absolute;
  left:1874px;
  top:2658px;
  width:768px;
  height:474px;
}
#u35022 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:229px;
  width:764px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35023_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:768px;
  height:470px;
}
#u35023 {
  border-width:0px;
  position:absolute;
  left:2698px;
  top:2662px;
  width:768px;
  height:470px;
}
#u35024 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:227px;
  width:764px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35025_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:768px;
  height:379px;
}
#u35025 {
  border-width:0px;
  position:absolute;
  left:96px;
  top:109px;
  width:768px;
  height:379px;
}
#u35026 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:182px;
  width:764px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35027_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:255px;
  height:40px;
  background:inherit;
  background-color:rgba(0, 153, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'苹方 粗体', '苹方 中等', '苹方';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u35027 {
  border-width:0px;
  position:absolute;
  left:96px;
  top:48px;
  width:255px;
  height:40px;
  font-family:'苹方 粗体', '苹方 中等', '苹方';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u35028 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:6px;
  width:255px;
  word-wrap:break-word;
}
#u35029_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:768px;
  height:432px;
}
#u35029 {
  border-width:0px;
  position:absolute;
  left:85px;
  top:564px;
  width:768px;
  height:432px;
}
#u35030 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:208px;
  width:764px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35031_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:768px;
  height:429px;
}
#u35031 {
  border-width:0px;
  position:absolute;
  left:905px;
  top:564px;
  width:768px;
  height:429px;
}
#u35032 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:206px;
  width:764px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35033_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:768px;
  height:436px;
}
#u35033 {
  border-width:0px;
  position:absolute;
  left:85px;
  top:1038px;
  width:768px;
  height:436px;
}
#u35034 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:210px;
  width:764px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35035_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:768px;
  height:431px;
}
#u35035 {
  border-width:0px;
  position:absolute;
  left:85px;
  top:1596px;
  width:768px;
  height:431px;
}
#u35036 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:208px;
  width:764px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35037_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:768px;
  height:434px;
}
#u35037 {
  border-width:0px;
  position:absolute;
  left:981px;
  top:1593px;
  width:768px;
  height:434px;
}
#u35038 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:209px;
  width:764px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35039 {
  border-width:0px;
  position:absolute;
  left:1100px;
  top:2016px;
  width:0px;
  height:0px;
  color:#333333;
}
#u35039_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:6px;
  height:8px;
}
#u35039_seg1 {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-4px;
  width:8px;
  height:347px;
}
#u35039_seg2 {
  border-width:0px;
  position:absolute;
  left:-249px;
  top:335px;
  width:255px;
  height:8px;
}
#u35039_seg3 {
  border-width:0px;
  position:absolute;
  left:-258px;
  top:327px;
  width:24px;
  height:24px;
}
#u35040 {
  border-width:0px;
  position:absolute;
  left:-48px;
  top:286px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35041 {
  border-width:0px;
  position:absolute;
  left:1675px;
  top:688px;
  width:0px;
  height:0px;
  color:#333333;
}
#u35041_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:183px;
  height:8px;
}
#u35041_seg1 {
  border-width:0px;
  position:absolute;
  left:175px;
  top:-4px;
  width:8px;
  height:603px;
}
#u35041_seg2 {
  border-width:0px;
  position:absolute;
  left:-817px;
  top:591px;
  width:1000px;
  height:8px;
}
#u35041_seg3 {
  border-width:0px;
  position:absolute;
  left:-826px;
  top:583px;
  width:24px;
  height:24px;
}
#u35042 {
  border-width:0px;
  position:absolute;
  left:18px;
  top:587px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35043_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:768px;
  height:431px;
}
#u35043 {
  border-width:0px;
  position:absolute;
  left:85px;
  top:2078px;
  width:768px;
  height:431px;
}
#u35044 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:208px;
  width:764px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35045_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:768px;
  height:466px;
}
#u35045 {
  border-width:0px;
  position:absolute;
  left:85px;
  top:2678px;
  width:768px;
  height:466px;
}
#u35046 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:225px;
  width:764px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35047_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:768px;
  height:456px;
}
#u35047 {
  border-width:0px;
  position:absolute;
  left:981px;
  top:2669px;
  width:768px;
  height:456px;
}
#u35048 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:220px;
  width:764px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35049_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:768px;
  height:433px;
}
#u35049 {
  border-width:0px;
  position:absolute;
  left:96px;
  top:3330px;
  width:768px;
  height:433px;
}
#u35050 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:208px;
  width:764px;
  visibility:hidden;
  word-wrap:break-word;
}
