body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-40px;
  width:2526px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u71606_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:995px;
  height:2892px;
}
#u71606 {
  border-width:0px;
  position:absolute;
  left:1571px;
  top:-538px;
  width:995px;
  height:2892px;
}
#u71607 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:1438px;
  width:991px;
  visibility:hidden;
  word-wrap:break-word;
}
#u71608_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:958px;
  height:1798px;
}
#u71608 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:22px;
  width:958px;
  height:1798px;
}
#u71609 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:891px;
  width:954px;
  visibility:hidden;
  word-wrap:break-word;
}
#u71610 {
  border-width:0px;
  position:absolute;
  left:804px;
  top:126px;
  width:0px;
  height:0px;
  color:#333333;
}
#u71610_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:526px;
  height:8px;
}
#u71610_seg1 {
  border-width:0px;
  position:absolute;
  left:518px;
  top:-4px;
  width:8px;
  height:767px;
}
#u71610_seg2 {
  border-width:0px;
  position:absolute;
  left:518px;
  top:755px;
  width:634px;
  height:8px;
}
#u71610_seg3 {
  border-width:0px;
  position:absolute;
  left:-8px;
  top:-13px;
  width:26px;
  height:26px;
}
#u71610_seg4 {
  border-width:0px;
  position:absolute;
  left:1129px;
  top:746px;
  width:27px;
  height:26px;
}
#u71611 {
  border-width:0px;
  position:absolute;
  left:472px;
  top:425px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
