body {
  margin:0px;
  background-color:rgba(250, 250, 250, 1);
  background-image:none;
  position:relative;
  left:-0px;
  width:1874px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u47653_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1874px;
  height:944px;
}
#u47653 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1874px;
  height:944px;
}
#u47654 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:464px;
  width:1870px;
  visibility:hidden;
  word-wrap:break-word;
}
#u47655_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1874px;
  height:943px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.4);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u47655 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1874px;
  height:943px;
}
#u47656 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:464px;
  width:1870px;
  visibility:hidden;
  word-wrap:break-word;
}
#u47657 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u47658_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:572px;
  height:397px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u47658 {
  border-width:0px;
  position:absolute;
  left:672px;
  top:228px;
  width:572px;
  height:397px;
}
#u47659 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:190px;
  width:568px;
  visibility:hidden;
  word-wrap:break-word;
}
#u47660_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:572px;
  height:51px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u47660 {
  border-width:0px;
  position:absolute;
  left:672px;
  top:228px;
  width:572px;
  height:51px;
}
#u47661 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:568px;
  visibility:hidden;
  word-wrap:break-word;
}
#u47662_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#333333;
}
#u47662 {
  border-width:0px;
  position:absolute;
  left:699px;
  top:244px;
  width:97px;
  height:22px;
  font-size:16px;
  color:#333333;
}
#u47663 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u47664 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u47665_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'苹方 常规', '苹方';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u47665 {
  border-width:0px;
  position:absolute;
  left:699px;
  top:393px;
  width:68px;
  height:20px;
  font-family:'苹方 常规', '苹方';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u47666 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  white-space:nowrap;
}
#u47667 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u47668_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:397px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:left;
}
#u47668 {
  border-width:0px;
  position:absolute;
  left:775px;
  top:383px;
  width:397px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:left;
}
#u47668_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:397px;
  height:40px;
  background:inherit;
  background-color:rgba(249, 249, 249, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:0px 0px 5px rgba(204, 204, 204, 1);
  -webkit-box-shadow:0px 0px 5px rgba(204, 204, 204, 1);
  box-shadow:0px 0px 5px rgba(204, 204, 204, 1);
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:left;
}
#u47668.selected {
}
#u47669 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:12px;
  width:380px;
  visibility:hidden;
  word-wrap:break-word;
}
#u47670 {
  border-width:0px;
  position:absolute;
  left:782px;
  top:391px;
  width:379px;
  height:26px;
}
#u47670_input {
  position:absolute;
  left:0px;
  top:0px;
  width:379px;
  height:26px;
  font-family:'苹方 中等', '苹方';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:transparent;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u47670_input {
  font-family:'苹方';
}
#u47670_ann {
  border-width:0px;
  position:absolute;
  left:1154px;
  top:387px;
  width:1px;
  height:1px;
}
#u47671_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u47671 {
  border-width:0px;
  position:absolute;
  left:1212px;
  top:247px;
  width:14px;
  height:14px;
}
#u47671_img.mouseOver {
}
#u47671.mouseOver {
}
#u47672 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-1px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u47673 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u47674_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'苹方 常规', '苹方';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u47674 {
  border-width:0px;
  position:absolute;
  left:699px;
  top:299px;
  width:68px;
  height:20px;
  font-family:'苹方 常规', '苹方';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u47675 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  white-space:nowrap;
}
#u47676 {
  border-width:0px;
  position:absolute;
  left:775px;
  top:294px;
  width:104px;
  height:30px;
}
#u47676_input {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:30px;
  font-family:'苹方 中等', '苹方';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u47676_input {
  font-family:'苹方';
}
#u47676_input:disabled {
  color:grayText;
}
#u47677_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:30px;
  background:inherit;
  background-color:rgba(51, 153, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(51, 153, 255, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'苹方 中等', '苹方';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u47677 {
  border-width:0px;
  position:absolute;
  left:775px;
  top:560px;
  width:63px;
  height:30px;
  font-family:'苹方 中等', '苹方';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u47678 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:5px;
  width:63px;
  word-wrap:break-word;
}
#u47679 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u47680_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'苹方 常规', '苹方';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u47680 {
  border-width:0px;
  position:absolute;
  left:699px;
  top:345px;
  width:68px;
  height:20px;
  font-family:'苹方 常规', '苹方';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u47681 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  white-space:nowrap;
}
#u47682 {
  border-width:0px;
  position:absolute;
  left:775px;
  top:340px;
  width:104px;
  height:30px;
}
#u47682_input {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:30px;
  font-family:'苹方 中等', '苹方';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u47682_input {
  font-family:'苹方';
}
#u47682_input:disabled {
  color:grayText;
}
#u47683 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u47684_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'苹方 常规', '苹方';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#333333;
}
#u47684 {
  border-width:0px;
  position:absolute;
  left:699px;
  top:443px;
  width:71px;
  height:20px;
  font-family:'苹方 常规', '苹方';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#333333;
}
#u47685 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u47686 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u47687 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u47688_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:104px;
}
#u47688 {
  border-width:0px;
  position:absolute;
  left:775px;
  top:437px;
  width:104px;
  height:104px;
  color:rgba(0, 0, 0, 0.427450980392157);
}
#u47689 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:58px;
  width:100px;
  word-wrap:break-word;
}
#u47690_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u47690 {
  border-width:0px;
  position:absolute;
  left:815px;
  top:473px;
  width:24px;
  height:24px;
}
#u47691 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u47692_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'苹方 常规', '苹方';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#CCCCCC;
}
#u47692 {
  border-width:0px;
  position:absolute;
  left:889px;
  top:511px;
  width:139px;
  height:20px;
  font-family:'苹方 常规', '苹方';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#CCCCCC;
}
#u47693 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  white-space:nowrap;
}
